
body {
    background-color: #121830;
    color: #d0e0ff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;

}
.view-history {
    width: 80%;
    max-width: 2500px;
    margin: auto;
    padding: 50px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #1a1f2e;
    box-shadow: 0 4px 8px rgba(0, 120, 255, 0.3);
    background-image: url("../../../../public/accessControl.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

@media (max-width: 768px) {
    .view-history {
        width: 95%;
        padding: 20px;
    }

    .header-container, .history-list-container {
        padding: 10px;
    }

    input[type="date"], ul, p, li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .view-history {
        width: 100%;
    }

    input[type="date"] {
        padding: 10px 15px;
    }
}

h1, h2 {
    color: #1a1f2e;
    text-shadow: white 5px 0px 10px;
}
.header-container {
    padding: 20px;
}

.history-list-container {
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid #004880;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 120, 255, 0.4);
    border-radius: 8px;
}

input[type="date"] {
    appearance: none; /* Remueve estilos predeterminados del navegador */
    background-color: #cccccc; /* Dark blue background */
    border: 2px solid #004880;
    color: #051126;
    padding: 12px 24px; /* Aumenta el padding para dar más espacio */
    border-radius: 8px;
    font-size: 16px;
    position: relative; /* Preparación para ícono personalizado */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posiciona el ícono a la derecha, centrado verticalmente */
    cursor: pointer;
}

p {
    color: #ececf3; /* Greyish blue text for less emphasis */
}

input, ul, p {
    margin-top: 15px;
}
.history-list-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 2px solid #004880; /* Borde azul para el marco */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 120, 255, 0.4); /* Sombra para efecto visual */
    border-radius: 8px; /* Bordes redondeados */
}

ul {
    padding: 0;
    margin: 0;
}

li {
    background-color: #242850;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px; /* Bordes redondeados para los elementos de la lista */
    box-shadow: 0 2px 4px rgba(0, 120, 255, 0.5); /* Sombra ligera para cada elemento */
}

li:hover {
    background-color: #303860; /* Cambio de color al pasar el ratón */
}