.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff url("../../../public/accessControl.jpeg") no-repeat center;
    background-size: cover; /* Ajusta el tamaño del fondo */
    width: 90%; /* Ancho del contenedor */
    max-width: 1200px; /* Ancho máximo del contenedor */
    padding: 40px 20px;
    margin: 80px auto 20px auto;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img {
    width: 200px; /* Ajusta el tamaño de la foto */
    margin-right: 5px;
}


.signup-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}



.title {
    color: #004aad; /* Azul oscuro */
    font-size: 24px; /* Tamaño de fuente ajustado */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 10px; /* Espaciado inferior */
    padding: 10px 20px; /* Ajustar el espacio alrededor del texto */
    background-color: white; /* Fondo blanco */
    border-radius: 20px;
}


.logo img {
    width: 150px;
    margin-right: 5px;
}


.signup-inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-color: #004aad; /* Borde azul oscuro */
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

.signup-input img {
    margin: 0px 30px;
}

.signup-input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    border-radius: 25px;
}

.signup-button,
.Go-back-button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #007bff, #0056b3);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-top: 20px;
    text-decoration: none; /* Remover subrayado */
}

.sign-button:hover,
.Go-back-button:hover {
    background-image: linear-gradient(145deg, #004aad, #003379); /* Azul oscuro para el hover */
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
