.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form input {
    margin-bottom: 10px; /* Espacio entre cada campo */
}

.signup-form button {
    align-self: center;

}


.signup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.signup-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}

.text{
    color: #27420c;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-container {
    flex: 1;
}
.form-container {
    background-color: #27420c; /* Aquí defines el color sage green */
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    margin: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
