.manage-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente */
    background-image: url("../../../../public/accessControl.jpeg"); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    color: #003379; /* Texto azul claro para legibilidad */
    font-family: 'Arial', sans-serif; /* Fuente */
    width: 90%; /* Ancho del componente */
    max-width: 1000px; /* Ancho máximo */
    margin: auto; /* Centrado horizontal */
    padding: 50px; /* Espacio interno */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 120, 255, 0.3); /* Sombra */
}

.manage-users h1 {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior */
}

.button-container {
    margin-bottom: 20px; /* Espacio entre botones */
}

.manage-users button {
    padding: 15px 30px; /* Espacio interno */
    border: none; /* Sin borde */
    border-radius: 30px; /* Borde redondeado */
    color: #fff; /* Color de texto */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Grosor de fuente */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
    width: 100%; /* Ancho del botón */
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Gradiente de color de fondo */
    font-family: 'Poppins', sans-serif; /* Fuente */
    text-decoration: none; /* Sin subrayado */
}

.manage-users button:not(:last-child) {
    margin-bottom: 10px; /* Espacio entre botones */
}

.manage-users button:hover {
    background-image: linear-gradient(145deg, #004aad, #003379); /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Escalar al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}


.home-button :hover {
    background-image: linear-gradient(145deg, #004aad, #003379); /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Escalar al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.home-button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #007bff, #0056b3);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-top: 20px;
    text-decoration: none; /* Remover subrayado */
}