.home-page {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.user-list ul {
    list-style: none;
    padding: 0;
}

.user-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.home-components-modification-button {
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
    display: inline-block; /* Display buttons inline */
}
.home-button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
    display: inline-block; /* Display buttons inline */
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Additional styles for mobile responsiveness */
@media (max-width: 600px) {
    .button, .home-components-modification-button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

.user-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px; /* Ancho mínimo */
    width: 80%; /* O establece un ancho fijo relativo al contenedor */
    margin: auto; /* Centrar en el contenedor */
}

.user-info {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre el nombre y los botones */
}

.user-actions {
    display: flex;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
    gap: 10px; /* Espacio entre los botones */
}

.action-button {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    width: 100%; /* Asegura que el mensaje de error tome todo el ancho disponible */
}
