.admin-home-container {
    background: #121212;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    margin: 80px auto; /* Eliminamos los valores de margin-top y margin-bottom */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centramos verticalmente */
    align-items: center; /* Centramos horizontalmente */
    padding: 40px;
    width: 300px;
    min-height: 300px; /* Agregamos un mínimo de altura */
    height: auto; /* Ajustamos la altura automática */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title{
    color: #00dd00;
}

.admin-home-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.admin-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.admin-button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #0f0, #0d0);
    font-family: 'Poppins', sans-serif;
}

.admin-button:not(:last-child) {
    margin-bottom: 10px;
}

.admin-button:hover, .logout:hover {
    background-image: linear-gradient(145deg, #0b6730, #001500);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.logout {
    background-image: linear-gradient(to right, #00497a, #002851);
}


.logout + .logout {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px dashed #007bff;
}
